/* 



*/

/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

/* Fontshare Font Link */
@import url("https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@100,200,300,400,500,700,800,900,1&display=swap");

/* TailwindCSS */
@import "tailwindcss";

/* Preline UI */
@import "preline/variants.css";

/* Plugin */
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

/* Themes Config */
@theme {

  --font-body: "Rethink Sans", sans-serif;

  --color-primary: #f58967;
  --color-secondary: #212529bf;
  --color-body-bg: #f8f9fa;
  --color-body-color: #4bbbce;
  --color-bg-color: #1f222b;
  --color-bg: #dee2e6;
  --color-orange: #f589671a;
  --color-yellow: #fdba45;
  --color-dark: #0f1f3e;
  --color-green: #13ce67;
  --color-blue: #0F1F3ECC;

  --color-orange-100: #f3764f;
  --color-orange-200: #f36f46;
  --color-orange-300: #f26437;

  --color-light: #e3e3e3;
  --color-light-100: #ffffff80;
  --color-light-200: #F8F9FAE6;
  --color-light-300: #000000B3;
  --color-light-400: #7c8bad;
  --color-blue-100: #37b3c9;
  --color-blue-200: #34acc1;
  --color-blue-300: #31a2b5;
  --color-blue-400: #0a1529;
  --color-blue-500: #081121;
  --color-blue-600: #050a15;
  --color-gray-100: #fcfcfd;
  --color-pink: #F589670D;
  --color-pink-100: #F5896733;
  --color-bg-200: #f5896766;
  --color-green-100: #d1e7dd;

  --radius-2xl: 15px;

  --spacing-15: 60px;
  --spacing-25: 100px;
  --spacing-35: 140px;

  --tracking-4: 4px;

  --text-1.7xl: 17px;
  --text-2.8xl: 28px;
  --text-2.6xl: 26px;
  --text-2.5xl: 25px;
  --text-2.2xl: 22px;
  --text-2.3xl: 23px;
  --text-2.1xl: 21px;
  --text-3.2xl: 32px;
  --text-3.3xl: 33px;
  --text-2.7xl: 27px;
  --text-4.1xl: 40px;
  --text-1.3xl: 13px;
  --text-6.4xl: 64px;
  --text-5xl: 50px;

  --radius-3xl: 30px;

  --text-sm--line-height: 1.4em;
  --text-base--line-height: 1.4em;
  --text-lg--line-height: 1.4em;
  --text-xl--line-height: 1.4em;
  --text-2xl--line-height: 1.4em;
  --text-3xl--line-height: 1.4em;
  --text-4xl--line-height: 1.4em;
  --text-5xl--line-height: 1.4em;
  --text-6xl--line-height: 1.4em;
}

@layer base {

  body {
    @apply font-body text-base leading-[1.5em] font-medium text-[#212529];
  }

  p,
  span {
    @apply leading-[1.6em] font-normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-[1.5em];
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }
}

input,
textarea {
  @apply focus:border-bg focus:shadow-none focus:ring-0 focus:ring-black;
}

.container {
  @apply mx-auto max-w-[1140px] lg:px-3 md:px-7.5 px-3;
}

.container-small {
  @apply mx-auto max-w-[980px] px-5;
}

.hs-overlay-backdrop {
  @apply fixed inset-0 bg-gray-900/50 transition dark:bg-neutral-900/80;
}

/* Iconify Icons */
@plugin "@iconify/tailwind4" {
  prefixes: tabler;
}