<footer class="pt-12 pb-6 bg-dark">
    <div class="container">
        <div class="grid lg:grid-cols-11 md:grid-cols-3 lg:gap-4 gap-8 mt-12 justify-between pb-12">
            <div class="lg:col-span-3 col-span-2">
                <a href="preview.html">
                    <img src="assets/images/logo/logo-light.png" alt="" class="mb-6 h-7.5">
                </a>
                <p class="mb-6 text-white text-lg">Comprehensive report, data visualization , and insights to analyze
                    your business.</p>

                <button
                    class="py-1.75 px-4.5 bg-primary text-sm text-white rounded-full border border-primary border-b-3 border-b-orange-100 hover:bg-orange-200 hover:border-b-orange-300 transition-all duration-300">
                    Subscribe
                </button>
            </div>

            <div class="lg:col-span-2 col-span-1">
                <h5 class="mb-2 text-white text-xl">Solution</h5>
                <ul class="mt-6 mb-4 ">
                    <li class="mb-4 text-light-400 hover:text-primary transition-all duration-300">Enterprise</li>

                    <li class="mb-4 text-light-400 hover:text-primary transition-all duration-300">By Workflow</li>

                    <li class="mb-4 text-light-400 hover:text-primary transition-all duration-300">By Team</li>
                </ul>
            </div>

            <div class="lg:col-span-2 col-span-1">
                <h5 class="mb-2 text-white text-xl">Company</h5>
                <ul class="mt-6 mb-4 ">
                    <li class="mb-4 text-light-400 hover:text-primary transition-all duration-300">About Us</li>

                    <li class="mb-4 text-light-400 hover:text-primary transition-all duration-300">News & Press</li>

                    <li class="mb-4 text-light-400 hover:text-primary transition-all duration-300">Our Customer</li>

                    <li class="mb-4 text-light-400 hover:text-primary transition-all duration-300">Leadership</li>

                    <li class="mb-4 text-light-400 hover:text-primary transition-all duration-300">Careers</li>
                </ul>
            </div>

            <div class="lg:col-span-2 col-span-1">
                <h5 class="mb-2 text-white text-xl">Company</h5>
                <ul class="mt-6 mb-4 ">
                    <li class="mb-4 text-light-400 hover:text-primary transition-all duration-300">Blog </li>

                    <li class="mb-4 text-light-400 hover:text-primary transition-all duration-300">Webinar & Events</li>

                    <li class="mb-4 text-light-400 hover:text-primary transition-all duration-300">Podcast</li>

                    <li class="mb-4 text-light-400 hover:text-primary transition-all duration-300">E-book & Guides</li>
                </ul>
            </div>

            <div class="lg:col-span-2 col-span-1">
                <h5 class="mb-2 text-white text-xl">Contact Us</h5>
                <ul class="mt-6 mb-4 ">
                    <li class="mb-4 text-light-400 hover:text-primary transition-all duration-300">Contact Sales </li>

                    <li class="mb-4 text-light-400 hover:text-primary transition-all duration-300">Become Partner</li>

                    <li class="mb-4 text-light-400 hover:text-primary transition-all duration-300">Affliate Program</li>
                </ul>
            </div>
        </div>

        <hr class="border opacity-10 border-primary my-4">

        <div class="grid grid-cols-12 gap-6 mt-4 items-center">
            <div class="col-span-5">
                <p class="text-light-100">2025
                    © Skywave - Design crafted by ❤️ <a href="#" class="text-white">MarkeyThemes</a>
                </p>
            </div>

            <div class="col-span-4">
                <div class="flex gap-2.75 justify-center">
                    <a href="#" class="size-10 flex justify-center items-center bg-white rounded-full">
                        <i class="iconify tabler--brand-facebook text-dark size-4 hover:text-primary"></i>
                    </a>

                    <a href="#" class="size-10 flex justify-center items-center bg-white rounded-full">
                        <i class="iconify tabler--brand-x text-dark size-4 hover:text-primary"></i>
                    </a>

                    <a href="#" class="size-10 flex justify-center items-center bg-white rounded-full">
                        <i class="iconify tabler--brand-youtube text-dark size-4 hover:text-primary"></i>
                    </a>

                    <a href="#" class="size-10 flex justify-center items-center bg-white rounded-full">
                        <i class="iconify tabler--brand-instagram text-dark size-4 hover:text-primary"></i>
                    </a>
                </div>
            </div>

            <div class="col-span-3">
                <div class="grid grid-cols-2 gap-6">
                    <a href="#" class="text-white">Terms Of Us</a>
                    <a href="#" class="text-white">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>